
/.godot/editor
.godot/editor/script_editor_cache.cfg
.godot/editor/project_metadata.cfg
.godot/editor/main.tscn-editstate-3070c538c03ee49b7677ff960a3f5195.cfg
.godot/editor/filesystem_update4
.godot/editor/filesystem_cache8
.godot/editor/fallingNote.tscn-editstate-636e5ebfe1ca865bfc6fca730524b16a.cfg
.godot/editor/create_recent.Node
.godot/uid_cache.bin
.godot/uid_cache.bin
.godot/editor/script_editor_cache.cfg
.godot/editor/project_metadata.cfg
.godot/editor/main.tscn-editstate-3070c538c03ee49b7677ff960a3f5195.cfg
.godot/editor/filesystem_update4
.godot/editor/filesystem_cache8
.godot/editor/fallingNote.tscn-editstate-636e5ebfe1ca865bfc6fca730524b16a.cfg
.godot/editor/create_recent.Node
.godot/editor/create_recent.Node
.godot/editor/editor_layout.cfg
.godot/editor/fallingNote.tscn-editstate-636e5ebfe1ca865bfc6fca730524b16a.cfg
.godot/editor/filesystem_cache8
.godot/editor/filesystem_update4
.godot/editor/main.tscn-editstate-3070c538c03ee49b7677ff960a3f5195.cfg
.godot/editor/main.tscn-folding-3070c538c03ee49b7677ff960a3f5195.cfg
.godot/editor/piano.tscn-editstate-c3229448a8d1c5c977408b0297aa4aa8.cfg
.godot/editor/piano.tscn-folding-c3229448a8d1c5c977408b0297aa4aa8.cfg
.godot/editor/project_metadata.cfg
.godot/editor/script_editor_cache.cfg
.godot/uid_cache.bin
